*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    background-image: url('C:\project\pclass\Learn-it\src\images\bg.jpg');
    background-size: cover;
}
.form{
    background: #fff;
    width: 450px;
    height: 500px;
    padding: 1.5rem;
    margin:  50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 2rem;
   
    text-align: left;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}
input{
    color:inherit ;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    font-size: 15px;
}
.input-group{
    padding: absolute;
    position: relative;
}
.input-group i{
    position: absolute;
    color: black;
}

input::placeholder{
    color: transparent
}
label{
    color: #757575;
    position: relative;
    left: 1.2em;
    
    cursor:auto ;
    transition: 0.3s ease all;

}

.btn{
font-size: 1rem;
padding: 8px 0;
border-radius: 10px;
outline: none;
border: none;
width: 100%;
background: blue;
color: white;
cursor: pointer;
transition:0.9s;
}
.btn:hover{
    background: black;
    text-decoration: none;
    color: white;
}



  


